.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height:30px ;
    z-index:1 ;
    

    /* animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;



    
}
.nav_black{
    background-color: black;
}
.nav_content{
    display: flex;
    justify-content: space-between;

}
.nav_logo{
    position: fixed;
    left: 0;
    width: 80px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}
.nav_avatar{
    position: fixed;
    cursor: pointer;
    right: 20px;
    width: 30px;
    height: 30px;
}
